<ion-card class="login_card">
  <!--未登录界面-->
  <div *ngIf="!isLogin" class="islogin">
    <ion-card-header>
      登录iMoocQA,体验更功能
    </ion-card-header>
    <ion-card-content>
      <button ion-button outline small round (click)="presentLogin()" color="light">登录/注册</button>
    </ion-card-content>
  </div>
  <!--已登录界面-->
  <div *ngIf="isLogin">
    <!--<h1>已登录</h1>-->
    <ion-list>
      <button ion-item (click)="pushUserPage()">
        <ion-avatar item-start><img src={{userInfo?.UserHeadface}} alt="图片加载错误"></ion-avatar>
        <h1>{{userInfo?.UserNickName}}</h1>
        <p>查看个人主页或编辑简介</p>
      </button>
    </ion-list>
  </div>
</ion-card>
